@import "./../../styles/mixins.scss";

.SearchPage {
  .topMenu {
    display: flex;
    flex-direction: row;
    button {
      @include Button();
      margin-left: 32px;
    }
  }
  .search {
    width: 47vw;
    input {
      display: flex;
      width: 100%;
      border: none;
    }
  }

  .container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
