@font-face {
  font-family: "PlayfairDisplay";
  src: url("./../../public/Fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
* {
  font-family: "PlayfairDisplay", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
