@import "./../../../styles/mixins.scss";

.SearchModule {
    h1{
        width: 481px;
      font-family: Playfair Display;
      font-size: 34px;
      font-weight: 500;
      line-height: 42.5px;
      text-align: left;
      width: 500px;
      
    }
    .ArrowBack{
        margin-top: 45px;
        transition: 0.1s linear all;
        &:hover{
            opacity: 0.6;
            cursor: pointer;
        }
    }
    .topMenu {
      display: flex;
      flex-direction: row;
      button {
        @include Button();
        width: 277px;
        margin-left: 32px;
      }
      .reset {
        @include Button2();
        width: 277px;
        margin-left: 32px;
      }
    }
  .search {
    // width: 47vw;
    input {
      display: flex;
      width: 100%;
      border: none;
    }
  }
.filter{
  display: block;
  position: relative;
  width: 949px;
  img{
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.15s linear all;
    &:hover{
      opacity: 0.6;
      cursor: pointer;
    }
  }
}
  .container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
  }
  a {
    outline: none;
    text-decoration: none;
    color: #000;
  }
 
}
