.HumanProfilePage {
  padding: 100px;

  .title {
    display: flex;
    .humenInfo {
      display: flex;
      flex-direction: row;
    }
    .foto {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .name {
      width: 40%;
      padding-left: 32px;
      box-sizing: border-box;
      font-size: 40px;
      font-weight: 500;
      margin-top: 0;
      p {
        padding: 0;
        margin: 0;
      }
      .arhiv {
        cursor: pointer;
        margin-top: 16px;
        font-size: 22px;
        font-weight: 500;
        line-height: 52px;
        color: var(--border);
        display: flex;
        flex-direction: row;
        img {
          margin-left: 16px;
        }
        p {
          border-bottom: 1px solid var(--border);
        }
      }
      a {
        outline: none;
        // text-decoration: none;
        text-decoration: underline;
        text-decoration-color: var(--border2); /* задает цвет подчеркивания */
        text-decoration-thickness: 3px; /* задает толщину подчеркивания */
        color: var(--blue2);
      }
      a:hover {
        color: var(--blue1);
        transition: all 0.15s ease;
      }
      .arhiv:hover {
        color: var(--blue1);
        transition: all 0.1s ease;
      }

      a:active {
        color: var(--blue3);
        transition: all 0.15s ease;
      }
      .arhiv:active {
        color: var(--blue3);
        transition: all 0.1s ease;
      }
    }

    .point {
      position: relative;
      width: 420px;
      height: auto;
      display: flex;
      margin-top: 100px;
      .point1 {
        position: absolute;
        transform: translateY(-40px);

        color: var(--blue1);
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          background-color: var(--blue1);
          position: absolute;
          top: 30px;
          left: 0px;
          border-radius: 100%;
        }
      }
      .point2 {
        position: absolute;
        bottom: 12px;
        right: -50px;
        color: var(--blue1);
        transform: translateY(-40px);

        &::after {
          content: "";
          width: 8px;
          height: 8px;
          background-color: var(--blue1);
          position: absolute;
          top: 30px;
          left: 0px;
          border-radius: 100%;
        }
      }
      .randomLine {
        svg {
          width: 100%;
          height: 100%;
          position: absolute;
          //   transform: rotate(-180deg);
          transition: all 0.15s ease;
          polyline {
            transition: all 0.15s ease;
          }
        }
      }
    }
  }
}
