.HomePage{
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    .HomePage__firstBlock{
      width: 100%;
    //   display: flex;
    }
    .about{
        margin-top: 320px;
        display: flex;
        justify-content: center;
        .about_inner{
            width: 1200px;
            font-size: 20px;
            color: var(--textColor);
        }
    }
}